<!DOCTYPE html>
<html lang="en">
<head>
  <script>
    function initMap() {
      const uluru = { lat: 40.668392363672986, lng: -73.82179805638552 };
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 10,
        center: uluru,
      });
      const marker = new google.maps.Marker({
        position: uluru,
        map: map,
      });
    }
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASPQgv2Jw2ayLE4riqpOQpInzfNhqhFe0&callback=initMap&libraries=&v=weekly"
      defer
    ></script>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

  <link href="./../assets/css/details.css" rel="stylesheet">
  <link href="./../assets/css/partials/header.css" rel="stylesheet">
  <link href="./../assets/css/partials/footer.css" rel="stylesheet">
  <link href="../assets/css/reset.css" rel="stylesheet">

  <title>Document</title>
</head>
<body>
  <div class="container">
    <header>
      <div class="header-bar">
        <div class="logo-container">
          <a href="../index.html">
            <img src="./../assets/img/logo.png" alt="PrimeLocation">
          </a>
        </div>
        <div class="button-container">
          <div>
            <a class="h-button" href=""><img src="./../assets/img/lupa-white.png" alt="Magnifying Glass"><p class="h-text">HOUSES</p></a>
            <a class="h-button" href=""><img src="./../assets/img/user-white.png" alt="User"><p class="h-text">ABOUT</p></a>
            <a class="h-button" href=""><img src="./../assets/img/wifi-white.png" alt="Wifi"><p class="h-text">BLOG</p></a>
            <a class="h-button" href=""><img src="./../assets/img/menu-white.png" alt="Menu"><p class="h-text">MORE...</p></a>
          </div>
        </div>
      </div>
    </header>

    <main>

      <div class="card-container">


        <div class="title-wrapper d-flex">
          <img src="../assets/img/logo-icon-black.png" alt="Logo" width="30">
          <p>ST. PETER</p>
        </div>
        <div class="info-wrapper">
          <div class="image-wrapper">
            <img src="../assets/img/house-one.jpg" alt="House">
          </div>
          <div class="d-flex sp-btwen details-wrapper">
            <div class="f-info">
              <p>CITY: <span>NEW YORK</span></p>
              <p>TYPE: <span>HOUSE</span></p>
              <p>PERSON: <span>5</span></p>
              <p>STREET: <span>ST. 54, N° 20</span></p>
            </div>
            <div class="s-info">
              <p>STATE: <span>NEW YORK</span></p>
              <p>COUNTRY: <span>US</span></p>
              <p>EMAIL: <span>HOUSE@EMAIL.COM</span></p>
              <p>REPUTATION: <span>5.6/6</span></p>
            </div>
          </div>
        </div>

        <div class="button-wrapper d-flex">
          <button type="submit">APPLY</button>
        </div>
        <div class="essential-wrapper">
          <a><img src="../assets/img/phone-call.png" alt="Phone" width="20">TELL: <span>## ### ###</span></a>
          <a class="special"><img src="../assets/img/bus.png" alt="Bus" width="20">TRANSPORT: <span>YES</span></a>
          <a><img src="../assets/img/global.png" alt="World" width="20">WEBSITE: <span>ST.COM</span></a>
        </div>

        <div class="detail-text">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere incidunt ab, blanditiis voluptas exercitationem, recusandae dolores, eos odio soluta dignissimos adipisci nulla nisi esse? Accusantium similique obcaecati molestias accusamus sunt commodi in, asperiores est dolore ad repellat. In consectetur obcaecati, possimus, dolorem, et impedit error a est atque perferendis unde?</p>
        </div>
      </div>

      <div class="directions-title">
        <img src="../assets/img/bussola.png" alt="Compass" width="50">
        <h1>DIRECTIONS</h1>
      </div>

      <!--The div element for the map -->
      <div id="map"></div>

    </main>

    <footer>
      <div class="footer-container">

        <div class="footer-bar">
          <div class="footer-buttons">
            <a href="#">HOME</a>
            <a href="#">SEARCH</a>
            <a href="#">ABOUT US</a>
            <a href="#">ADVERTISE</a>
          </div>
          <!-- <div class="footer-logo">
            <img src="./../assets/img/logo-icon-white.png" alt="Placeholder">
          </div> -->
          <div class="footer-buttons">
            <a href="#">FACEBOOK</a>
            <a href="#">TWITTER</a>
            <a href="#">BLOG</a>
            <a href="#">GOOGLE</a>
          </div>
        </div>
  
        <div class="wrapper-container">
  
          <div class="subs-wrapper">
            <h4>SUBSCRIBE</h4>
            <div>
              <input class="footer-input" type="email" placeholder="you@example.com">
              <button class="footer-submit" type="submit">SEND</button>
            </div>
          </div>
    
          <div class="contact-wrapper">
            <h4>CONTACT</h4>
            <p>Have a question or submission?</p>
            <a href="#">info@email.com</a>
          </div>
    
          <div class="about-wrapper">
            <h4>ABOUT</h4>
            <p>PrimeLocation is an online plataform that assists people to find a suitable house by simply searching by city, state, country, e.t.c. <a href="#">Learn more...</a></p>
          </div>
  
        </div>

        <div class="under-footer">
          <div>
            <div class="footer-icons">
              <a href=""><img src="./../assets/img/facebook.svg" alt="Facebook"></a>
              <a href=""><img src="./../assets/img/twitter.svg" alt="Twitter"></a>
              <a href=""><img src="./../assets/img/instagram.svg" alt="Instagram"></a>
              <a href=""><img src="./../assets/img/email.svg" alt="Email"></a>
            </div>
            <div class="footer-text">
              <p>&#169; PRIMELOCATION 2020. ALL RIGHTS RESERVED.</p>
              <p>POWERED BY <span>ICONIUM DIGITAL</span>.</p>
              <p>LOVE AND AWESOMENESS.</p>
            </div>
          </div>

        </div>
      </div>
    </footer>
  </div>
</body>
</html>