<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

  <link href="./../assets/css/details.css" rel="stylesheet">
  <link href="./../assets/css/partials/header.css" rel="stylesheet">
  <link href="./../assets/css/partials/footer.css" rel="stylesheet">
  <link href="../assets/css/reset.css" rel="stylesheet">

  <title>Document</title>
</head>
<body>
  <div class="container">
    <header>
      <div class="header-bar">
        <div class="logo-container">
          <a href="#">
            <img src="./../assets/img/logo.png" alt="PrimeLocation">
          </a>
        </div>
        <div class="button-container">
          <div>
            <a class="h-button" href=""><img src="./../assets/img/lupa-white.png" alt="Magnifying Glass"><p class="h-text">HOUSES</p></a>
            <a class="h-button" href=""><img src="./../assets/img/user-white.png" alt="User"><p class="h-text">ABOUT</p></a>
            <a class="h-button" href=""><img src="./../assets/img/wifi-white.png" alt="Wifi"><p class="h-text">BLOG</p></a>
            <a class="h-button" href=""><img src="./../assets/img/menu-white.png" alt="Menu"><p class="h-text">MORE...</p></a>
          </div>
        </div>
      </div>
    </header>

    <main>

    </main>

    <footer>
      <div class="footer-container">

        <div class="footer-bar">
          <div class="footer-buttons">
            <a href="#">HOME</a>
            <a href="#">SEARCH</a>
            <a href="#">ABOUT US</a>
            <a href="#">ADVERTISE</a>
          </div>
          <div class="footer-logo">
            <img src="./../assets/img/logo-icon-white.png" alt="Placeholder">
          </div>
          <div class="footer-buttons">
            <a href="#">FACEBOOK</a>
            <a href="#">TWITTER</a>
            <a href="#">BLOG</a>
            <a href="#">GOOGLE</a>
          </div>
        </div>
  
        <div class="wrapper-container">
  
          <div class="subs-wrapper">
            <h4>SUBSCRIBE</h4>
            <div>
              <input class="footer-input" type="email" placeholder="you@example.com">
              <button class="footer-submit" type="submit">SEND</button>
            </div>
          </div>
    
          <div class="contact-wrapper">
            <h4>CONTACT</h4>
            <p>Have a question or submission?</p>
            <a href="#">info@email.com</a>
          </div>
    
          <div class="about-wrapper">
            <h4>ABOUT</h4>
            <p>PrimeLocation is an online plataform that assists people to find a suitable house by simply searching by city, state, country, e.t.c. <a href="#">Learn more...</a></p>
          </div>
  
        </div>

        <div class="under-footer">
          <div>
            <div class="footer-icons">
              <a href=""><img src="./../assets/img/facebook.svg" alt="Facebook"></a>
              <a href=""><img src="./../assets/img/twitter.svg" alt="Twitter"></a>
              <a href=""><img src="./../assets/img/instagram.svg" alt="Instagram"></a>
              <a href=""><img src="./../assets/img/email.svg" alt="Email"></a>
            </div>
            <div class="footer-text">
              <p>&#169; PRIMELOCATION 2020. ALL RIGHTS RESERVED.</p>
              <p>POWERED BY <span>ICONIUM DIGITAL</span>.</p>
              <p>LOVE AND AWESOMENESS.</p>
            </div>
          </div>

        </div>
      </div>
    </footer>
  </div>
</body>
</html>