:root {
  --background-color: #fff;
  --background-two: #000;
  --primary-color: #f15f36;
  --secondary-color: #1fbbed;
}

.footer-container {
  background-color: var(--background-two);
  color: #fff;
}

.footer-container h4 {
  color: var(--background-color);
  margin-bottom: 10px;
}

.footer-bar {
  padding: 10px;
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
  padding: 9px 0 9px 0;
  border-top: 1px solid var(--background-color);
  border-bottom: 1px solid var(--background-color);
  margin-top: 20px;
}

.footer-buttons a {
  text-decoration: none;
  color: var(--background-color);
}

.footer-logo {
  padding: 10px;
  width: 80px;
  margin: auto;
}

.footer-logo img {
  width: 100%;
}

.wrapper-container {
  position: relative;
  margin-top: 20px;
}

.wrapper-container h4 {
  font-weight: bolder;
}

.subs-wrapper {
  text-align: center;
  padding: 10px;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.footer-input {
  border: none;
  border: 1px solid rgb(128, 128, 128, 1);
  background-color: #000;
  padding: 10px;
}

.footer-submit {
  padding: 10px;
  border: none;
  background-color: rgb(128, 128, 128, 1);
  color: #fff;
}

.contact-wrapper {
  text-align: center;
  padding: 10px;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}

.contact-wrapper a {
  text-decoration: none;
  color: var(--primary-color);
}

.about-wrapper {
  text-align: center;
  padding: 15px;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}

.about-wrapper a {
  text-decoration: none;
  color: var(--primary-color);
}

.under-footer {
  background-color: grey;
  padding: 20px 0 50px 0;
}

.footer-icons {
  text-align: center;
}

.footer-icons img {
  width: 30px;
}

.footer-text {
  text-align: center;
}

/* Tablet version */
@media only screen and (min-width: 786px) {
  .footer-container {
    padding-top: 20px;
  }

  .footer-bar {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin: 0 20px 0 20px;
  }

  .wrapper-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-buttons {
    margin: 0 10px 0 10px;
    width: 40%;
    border: none;
    display: flex;
    justify-content: space-between;
  }

  .footer-buttons a {
    font-weight: bolder;
    font-size: 11px;
    margin-right: 5px;
    text-align: center;
  }

  /* .footer-logo {
    position: absolute;
    left: 43%;
    top: -15px;
    background-color: black;
    width: 100px;
    height: 100px;
    padding: 8px 20px 20px 20px;
    border: 1px solid #fff;
    border-radius: 50%;
  } */

  .subs-wrapper,
  .contact-wrapper,
  .about-wrapper {
    width: 300px;
  }

  .under-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    font-size: 10px;
  }

  .footer-text {
    align-items: center;
    display: flex;
  }
}

/* Desktop version */
@media only screen and (min-width: 1024px) {
  .footer-buttons a {
    font-size: 15px;
  }
}
